@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --font-chillax: "Chillax", sans-serif;
    --font-synonym: "Synonym", sans-serif;
}

html {
    background: linear-gradient(to bottom, #000000 50%, #ffffff 50%) fixed;
}

body {
    background: white;
}
